@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Peer reward web site
                <a href="http://catchme.hilton-recognition.com/" title="Similar to Hilton's Catch me">http://catchme.hilton-recognition.com/</a>.
                Customers, peers and managers can all submit comments about actions they saw
            </p>
        </div>
    </section>
}


